<div class="main-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>You asked a few questions about me (and I added a few of my own!). I've provided answers below.</h3>
        <h3>  If you want to know more, just let me know and I'd love to chat!</h3>
        <br />
        <br />
        <ol class="questions">
          <% @questions.each do |question| %>
          <li>
            <strong><%= question.content %></strong><br /><br />
            <%= question.printed_answer %>
          </li>
          <br />
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>