<div class="main-section">
  <div class="container">
    
    <div class="row">
      <div class="col-lg-12">
        <h1>Hi there, my name is Antonio.</h1>
        <br />
        <p> I'm so glad you made it to my apprentice homepage!</p>
        <br />
        <p>I can't wait to learn more about the team at StandardCo.de.</p>
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>I would also love to share more about myself...</p>
        <a href="<%= answers_path %>" class="btn btn-lg btn-secondary">Click to Learn More About Me!</a>
        <br/>
        <br/>
      </div>
      <div class="col-lg-6">
        <p>... and my GoogleMaps JavaScript API map:</p>
        <a href="<%= map_path %>" class="btn btn-lg btn-secondary">Click to Check Out the Map!</a>
        <br />
        <br/>
      </div>
    </div>
    </div>
  </div>
</div>