<div class="main-section">
  <h1>Welcome to the Map Page for the StandardCo.de Challenge</h1>
  <div>
    <div>Completing this exercise involved the following general steps: </div>
    <ol>
      <li></li>
    </ol>
  </div>
  <div id="map"></div>  
</div>
