<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Answer the Following Question</h1>
        <h3>"<i><%= @question.content %></i>"</h3> 
        <%= render "form" %>
    </div>
</div>