html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -100px;
}

.footer, .push {
  height: 100px;
}

nav.navbar {
  background: #340056;
  a {
    color: #fafafa;
    font-size: 20px;
  }
}

.topnav {
    font-size: 20px; 
}

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

p {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-color: #0E82AE;
}

.main-section {
  padding-top: 70px;
  text-align: center;
  text-transform: none;
}

.btn-secondary {
    background: #0A0004;
    color: #ffffff;
}

.questions {
  text-align: left;
}


.footer {
  padding: 10px;
  background-color: #646464;
  span.copyright {
    line-height: 40px;
    text-transform: uppercase;
    font-color: #000000;  
  }
  .footer-icon {
    color: #340056;  
  }  
}